WEB_PORT=5173
API_PORT=3000
POSTGRES_PORT=5432
VALKEY_PORT=6379
POSTGRES_DB=hub_estudiantil
POSTGRES_USER=hub_user
POSTGRES_PASSWORD=hub_password
JWT_SECRET=change_this_secret
VALKEY_KEY_PREFIX=hub-estudiantil
VALKEY_DEFAULT_TTL_SECONDS=300
VALKEY_CONNECTION_RETRIES=25
VALKEY_CONNECTION_RETRY_DELAY_MS=2000
